@model IEnumerable<HotelReservationApp.Models.ReservationViewModel>

<div class="container mt-4">
    <div class="form-control text-center bg-primary" style="font-size: 36px;">Lista rezerwacji</div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Identyfikator</th>
                <th>Pokój</th>
                <th>Klient</th>
                <th>Check-In</th>
                <th>Check-Out</th>
                <th>Odpowiedzialny pracownik</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in Model)
            {
                <tr>
                    <td>@reservation.ReservationId</td>
                    <td>@reservation.Room.Type</td>
                    <td>@reservation.Customer.FirstName @reservation.Customer.LastName</td>
                    <td>@reservation.CheckInDate.ToShortDateString()</td>
                    <td>@reservation.CheckOutDate.ToShortDateString()</td>
                    <td>@reservation.Employee.FirstName @reservation.Employee.LastName</td>
                    <td>
                        <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@reservation.ReservationId">Edytuj</a>
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@reservation.ReservationId">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
